@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

#name-user{
    border: solid 1px;
    border-radius: 3px;
    border-width: 0.5px;
    position: absolute; 
    left: 220px;
    outline: none;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(237, 235, 235);
}

.update-btn{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight:400;
    border: none;
    color: #ffffff;
    position:absolute;
    left: 400px;
    background-color: #070707;
    border-radius: 5px;
    cursor: pointer;
}

#name-first{
    border: solid 1px;
    border-radius: 3px;
    border-width: 0.5px;
    position: absolute; 
    left: 220px;
    outline: none;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(237, 235, 235);
}
#name-last{
    border: solid 1px;
    border-radius: 3px;
    border-width: 0.5px;
    position: absolute; 
    left: 220px;
    outline: none;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(237, 235, 235);
}

#dob-input{
    position: absolute;
    left: 220px;
    font-family:sans-serif;
    font-size: 12.5px;
    cursor: pointer;
}

.label{
    color: #777;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-left: 25%;
    font-weight: bold;
}

#gender{
    position:absolute;
    left: 220px;
    cursor: pointer;
}

#email-input{
    border: solid 1px;
    border-radius: 3px;
    border-width: 0.5px;
    position: absolute; 
    left: 220px;
    outline: none;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(237, 235, 235);
}

#password-input{
    border: solid 1px;
    border-radius: 3px;
    border-width: 0.5px;
    position: absolute; 
    left: 260px;
    outline: none;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(237, 235, 235);
}

#password-recheck{
    border: solid 1px;
    border-radius: 3px;
    border-width: 0.5px;
    position: absolute; 
    left: 260px;
    outline: none;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(237, 235, 235);
}

#telephone-input{
    border: solid 1px;
    border-radius: 3px;
    border-width: 0.5px;
    position: absolute; 
    left: 220px;
    outline: none;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(237, 235, 235);
}
.label-password{
    color: #777;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
}

.header-1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    position: relative;
    left: -15px;
}

.submit-btn{
    font-family: "montserrat",sans-serif;
    border: none;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 35px;
    background:none;
    color: white;
    cursor: pointer;
    font-weight: 700;
}
.empty-para{
    color: #ff0000;
    font-family: "Roboto",sans-serif;
    font-size: 11px;
    margin-left: 25%;
    font-weight: bold;
    left: 225px;
}
.display-info{
    background-color: white;
    position: absolute;
    bottom: -260px;
    left: -50px;
    width: 520px;
    height:200px;
    padding: 10px;
    
}
.empty-para-2{
    font-size:medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.empty-para-3{
    font-size:medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.empty-para-4{
    font-size:medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.empty-para-5{
    font-size:medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.empty-para-6{
    font-size:medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.empty-para-7{
    font-size:medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.empty-para-8{
    font-size:medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(to right,#3498db,#8e44ad);
    overflow: hidden;
    box-sizing: border-box;
}

.profile{
    background: #fff;
    width: 540px;
    height: 500px;
    margin: 0 auto;
    margin-top: 4%;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
    position: relative;
}

.logo{
   float: right;
   margin-right: 12px;
   margin-top: 12px;
   font-family: "Nunito Sans",sans-serif;
   color: #3dbb3d;
   font-weight: 900;
   font-size: 24px;
   letter-spacing: 1px; 
}

.tag{
    width: 80px;
    height: 40px;
    right: -40px;
    bottom: 0;
    margin-bottom: 90px;
    position: absolute;
    z-index: 1;
    background: #7ed386;
    font-size: 15px;
    cursor: pointer;
    transform: rotate(-90deg);
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.tag h1{
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    position: fixed;
}

.tag:hover{
    background: #3fb6a8;
    transform: scale(1.1);
}

.lefty{
    float: left;
    top: -5%;
    left: 10%;
    position: absolute;
    width: 15%;
    height: 110%;
    background: #7ed386;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

nav a{
    list-style: none;
    padding: 55px;
    color: #fff;
    font-size: 26px;
    display:flex;
    transition: all 0.3s ease-in-out;
    position: relative;
    left: -25px;
    top: -5px;
}

nav a:hover{
    color: #3fb6a8;
    transform: scale(1.2);
    cursor: pointer;
}

nav a :first-child{
    margin-top: 7px;
}

.active{
    color: #3fb6a8;
}

.righty{
    float: right;
    width: 60%;
    height: 100%;
}

.userpro{
    position: absolute;
    width: 70%;

}

h1{
    font-family: "montserrat",sans-serif;
    color: #7ed386;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 35px;
    text-align: center;
}

h2{
    color: #777;
    font-family: "Roboto",sans-serif;
    width: 80px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin-left: 25%;
    display: inline;
}

p{
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right,#3fb6a8,rgba(126,211,134,0.5));
    border-top: 0;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    padding: 7px 0;
    color: #070707;
    text-align: right;
    display: inline;
    border-bottom: 1px solid #070707;
}

.button{
    float: right;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    border: none;
    color: #3fb6a8;
}

.button:hover{
    text-decoration: underline;
    font-weight: 900;
}

footer{
    position: absolute;
    width: 20%;
    bottom: 0;
    right: 0px;
    padding-top: 20px;
    text-align: right;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Roboto",sans-serif;
}

footer p{
    border: none;
    padding: 0;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    color: #7d7d7d;
}

img {
    padding-left: 2px;
}

